DATABASE_URL="postgresql://postgres:BkMosKRtsDOrRwuepdTdPXHMZqhUNTuQ@:/railway"
BETTER_AUTH_SECRET="replace-with-a-random-secret-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000"
RESEND_API_KEY=""
AUTH_EMAIL_FROM="Velvet Neuron Lead Auto <onboarding@resend.dev>"
